/**
 * @name full dark.theme
 * @author gonna fly
 * @version 1.0
 * @source https://github.com/Risssa0
 * @vk https://vk.com/mechtaayouu
 * @description A full dark theme with bright (REWORK)
 * @authorId 440472234885382155
 * @invite YmNjqCh8nY
*/

@import url('https://B4T3S.github.io/DiscordDarkNeon/mainRewrite.css');
/* ^ This is the main Import ^ DO NOT TOUCH. Without this, the theme won't load!!! */
/* ^ НЕ ТРОГАТЬ НЕ ТРОГАТЬ НЕ ТРОГАТЬ НЕ ТРОГАТЬ НЕ ТРОГАТЬ*/

@import url('https://B4T3S.github.io/DiscordDarkNeon/css/hideUsers.css');
/* This import adds the collapsible user-list. Remove it/comment it out to disable that feature */
/* Этот импорт добавляет сворачиваемый список пользователей. Удалите его / закомментируйте, чтобы отключить эту функцию*/

/* CUSTOMIZE COLORS IN HERE! */
:root {
    --rgb-highlight: 240, 240, 240; /* The main highlight color */
    --rgb-background: 0, 0, 0; /* The main background color */
    --rgb-text: 197, 200, 198; /* The main text color */
    --rgb-close-button: 212, 18, 39; /* The main "close this" or "deny" color */
    --rgb-online-color: 57, 255, 20; /* The color used in the "online" user status symbol */
    --rgb-afk-color: 255, 255, 51; /* The color used in the "idle" user status symbol */
    --rgb-dnd-color: 255, 0, 0; /* The color used in the "do not disturb" user status symbol */
    --rgb-streaming-color: 188, 19, 254; /* The color used in the "streaming X" user status symbol */

    --transition-time: .3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

    --background-image: unset;
    --background-position: center; /* Positions the background image */
    --background-size: cover; /* Scales the background image */
    --background-blur: 5px; /* Blurs the image which helps with readability of text infront of it */
    --background-brightness: 100%; /* Changes the background images brightness */
}
